version: '3.7'
services:
  nginx:
    build:
      context: nginx
      target: developer
    ports:
      - 8080:80
    depends_on:
      - app
  app:
    build:
      context: app
      target: developer
    volumes:
      - ./app:/app
    environment:
      DB_PASSWORD: ${POSTGRES_PASSWORD}
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5432:5432
